.blockn1__promo
	{
		position:relative;
	}
		.blockn1__promo__image
		{
		width:100%;
		}
	.blockn1__promot
	{
		position: absolute;
		top: 60%;
		padding-left: 20px;
	}
	.blockn1__promot__text
		{
			padding-left: 20px;
			opacity: 1;
    		color: white;
    		-webkit-transform: translateY(0px);
    		        transform: translateY(0px);
    		-webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s cubic-bezier(.15, .68, .48, .94);
    		transition: opacity .5s ease-in-out, -webkit-transform .5s cubic-bezier(.15, .68, .48, .94);
    		transition: transform .5s cubic-bezier(.15, .68, .48, .94), opacity .5s ease-in-out;
    		transition: transform .5s cubic-bezier(.15, .68, .48, .94), opacity .5s ease-in-out, -webkit-transform .5s cubic-bezier(.15, .68, .48, .94);
			width: 660px;
			padding-top: 30px;
		}
.blockn2__promo
	{
		position:relative;
	}
.blockn2__promo__image
		{
		width:100%;
		}
.blockn2__header
		{
			color: White;
			padding-left: 20px;
		}
.blockn2__promot
	{
		position: absolute;
		top: 60%;
		padding-left: 20px;
	}
.blockn2__promot__text
		{
			padding-left: 20px;
			opacity: 1;
    		color: white;
    		-webkit-transform: translateY(0px);
    		        transform: translateY(0px);
    		-webkit-transition: opacity .5s ease-in-out, -webkit-transform .5s cubic-bezier(.15, .68, .48, .94);
    		transition: opacity .5s ease-in-out, -webkit-transform .5s cubic-bezier(.15, .68, .48, .94);
    		transition: transform .5s cubic-bezier(.15, .68, .48, .94), opacity .5s ease-in-out;
    		transition: transform .5s cubic-bezier(.15, .68, .48, .94), opacity .5s ease-in-out, -webkit-transform .5s cubic-bezier(.15, .68, .48, .94);
			width: 660px;
			padding-top: 30px;
		}
@media(max-width: 852px)
{
	.blockn1__promot
	{
		top:20%;
		left: 10%;
	}
}
body
{
	min-width: 21px;
}